# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Testing
coverage/

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# IDEs
.idea/
.vscode/

# TypeScript
*.tsbuildinfo

# Generated native folders (if using Expo Prebuild)
/ios
/android

# local env files
.env*.local
.env
